{% extends "main.html" %}
{% block content %}

    <h1>{{post.title}}</h1>
    <img class="thumbnail" src="{{ post.image.url }}" alt="Blog thumbnail" />
    <p><a class="mr-2" href="{% url 'user-blogs' post.author %}">{{ post.author }}</a></p>
    <p class="text-muted">{{ post.created_time }}</p>
    <p class="article-content">{{ post.content }}</p>

    {% if request.user == post.author %}
    <button class="btn btn-outline-info" type="reset" onclick="location.href='update'">Update</button>
    <button class="btn btn-outline-info" type="reset" onclick="location.href='delete'">Delete</button>

    {% endif %}

{% endblock %}